.nav{
  font-size: 18px;
  padding: 20px;
  grid-area: nav;
  background-color:#fff;
  margin: 0px 5px;
 }
.nav a{
  color: #88898a;
}
.nav a.active{
  color: #65CEA7;
}
.nav a:hover{
  text-decoration: none;
  color: #65CEA7;
}