.post{
    padding: 10px;
    background-color: #f2f2f2;
}
.post p{
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
}
.infoOfPost li{
    display: inline;
    margin-right: 5px;
    padding: 3px;
    font-family: 'Abhaya Libre', serif;
    font-size: 13px;
    color: #858686 !important;
    font-weight: 500;
}
.infoOfPost ul{
    padding-left: 4px;
}
.namePost{
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
    margin-bottom: 10px;
}